# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
db.sqlite3
db.upload

# Media & Static
media/
static/

# Django
local_settings.py
staticfiles/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
